.tabs {
	margin: 15px;
	margin-top: 0px;
}
	.tabList {
		display: inline-block;
		list-style: none;
		border: 1px solid #BFCCD6;
		border-radius: 10px;
	}
		.tab {
			margin: 10px;
			padding: 0;
			display: inline-block;
			font-size: 16px;
			cursor: default;
		}
		.selectedTab {
			color: #F29D49;
		}